
<footer class="footer border-top text-muted text-center">
    <div class="container">
        Copyrights &copy; Book Store @DateTime.Now.Year
        <span><custom-email my-email="baroia36RB@mail.com"></custom-email></span>
    </div>
</footer>
