@model PasswordResetModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>

    <h4>PasswordResetModel</h4>
    <hr />
    <div class="container">
    

    <div class="row">
        <div class="col-md-4">
            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-danger" role="alert">
                    <p>Your Password has been changed</p>
                </div>
            }
            else
            {

                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />

                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Home">Back to List</a>
    </div>
    </div>
</body>
</html>
