<link href="~/css/stylesheet.css" rel="stylesheet" />
<h2>Home Controller Index view</h2>

<img class="logo" src="~/Img/logo.png" alt="logo"/>

<h2>Image from static folder</h2>

<img src="~/StaticFiles/logo.png" alt="Logo2" />