@{
    Layout = "_Layout";
}

<link href="~/css/stylesheet.css" rel="stylesheet" />
<h2>Home Controller Index view</h2>

<img class="logo" src="~/Img/logo.png" alt="logo"/>


<h2>Updated Heading 2</h2>


