@{

    //var bookInfo = ViewData["book"] as BookModel;
    //var bookInfo = (BookModel)ViewData["book"];
    //dynamic dataObj = ViewBag.Data;
}
@*@{
    var book = viewdata["book"] as bookmodel;
}*@
@inject Lec11.Repository.IBookRepository _bookRepository

<link href="~/css/stylesheet.css" rel="stylesheet" />

@*<h2>Value of ViewDataAttribute = @ViewData["CustomProperty"]</h2>

<h3 class="text-warning">
    View Data ID: @book.Id
    View Data Title: @book.Title
</h3>*@



<section class="jumbotron text-center">
    <div class="container">
        <h2>Welcome to Book Store</h2>

        <big>THIS IS GOING TO CHANGE</big>
        <p big>THIS IS ALSO GOING TO CHANGE</p>

        <environment names="Development">
            <h2 class="text-warning">Development Environment </h2>
        </environment>

        <environment names="Production">
            <h2 class="text-warning">Production Environment </h2>
        </environment>


        <p class="lead text-muted">
            This is some text about our book store.
            This is some text about our book store.
            This is some text about our book store.
            This is some text about our book store.
        </p>
        <p>
            <a href="#" class="btn btn-primary">Search Books</a>
        </p>
        @*<select>
            @foreach (var item in await _bookRepository.GetAllBooks())
            {
                <option>@item.Title</option>
            }
        </select>*@

    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h2>Featured Books</h2>
        <div class="row">

            <vc:top-books count="3"></vc:top-books>

        </div>
    </div>

</div>



@section MyJsSection {
    <script>
        //code
    </script>
}
